<h1>Kalysta Chunn</h1>
<p>Graphic Designer and Independent Artist</p>
<div class="container">
    <div class="row">
      <div class="col">
        <img src="/images/LavaLamp.gif" alt="Lava Lamp .gif">
      </div>
      <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Areas</th>
                <th scope="col">Information</th>
              </tr>
            </thead>
            <tbody>   
              <tr>
                <td>Expertise</td>
                <td>Graphic Design</td>
              </tr>
              <tr>
                <td>Goals</td>
                <td>Gain Experience in Graphic Design, Pursue Masters in Education</td>
              </tr>
              <tr>
                <td>Skills</td>
                <td>Adobe Photoshop, Adobe Illustrator, Adobe InDesign, Adobe XD, Adobe Dreamweaver, HTML, Microsoft Word, Microsoft PowerPoint, Microsoft Excel</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
